/*

	Janice Ng
	IAT 343: D101
	Individual Portfolio Website
	CSS file: Main Style

	1.Base 2.Grid 3.Layout 4.Links

*/

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Arial Black', sans-serif;
	font-size: 12px;
	color: #000000;
	background-image: url('../img/lightpaperfibers.png');
}

html, body, ul, ol, li, form,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	max-width: 900px;
	height: auto;
	padding-bottom: 3em;
}

/* ========== FONTS ========== */

h2 {
	width: 8%;
	margin-bottom: 2em;
	padding-bottom: .3em;
	font-size: 1.2em;
	border-bottom: 3px solid black;
}

/* ========== NAVBAR ========== */

#home li {
	font-size: 1.5em;
	font-weight: 600;
}

	#assignments li, #labs li {
		font-size: 1.2em;
	}

#home ul {
	text-align: center;
}

#home ul li {
	display: inline-block;
	padding: 5em 3em;
}

	#assignments li, #labs li {
		list-style: none;
		float: right;
		padding: 2em;

	}

	.weekly {
		width: 3%;
		text-align: left;
		line-height: 2.5em;
		position: fixed;
	}

/* ================================================================ 
	BASE END
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */

.container {
	margin: 0em auto;
	padding: 1.5em;
	max-width: 1280px;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== CONTENT ========== */

.content {
	width: 100%;
	float: left;
	text-align: center;
	padding: 2em;
}

.logo img {
	max-width: 400px;
	width: 100%;
	height: auto;
	margin-top: 10em;
}

/* ========== SECTIONS ========== */

.sectionwrapper {
	width: 85%;
	float: left;
	text-align: left;
	margin: .5em 0 0 12em;
}

/* ========== FOOTER ========== */

footer {
	width: 100%;
	float: left;
	text-align: center;
	padding: 1em 0;
	border-top: 1px solid black;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */

a {
	color: #9E9E9E;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
		color: #FFFFFF;
		/*border-bottom: 3px solid black;*/
		background-color: #000000;
	}

	.onpage {
		color: #FFFFFF;
		/*border-bottom: 3px solid black;*/
		background-color: #000000;
	}

/* ================================================================ 
	LINKS END 
================================================================  */